body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #000;
  color: #fff;
  overflow: auto;
}

body a{
  text-decoration: none;
  color: #fff;
}
body::-webkit-scrollbar{
  background-color:transparent ;
}
body::-webkit-scrollbar-thumb{
  background-color: #1f1d1d;
}

input {
  color: #fff;

}

textarea {
  color: #fff;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
  height: 100vh; 

}

/* Adding the background image */
.main-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./feedback-imgs/pexels-kaip-1341279.jpg');
  background-size: cover;
  opacity: 0.35; 
  z-index: -100; 
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid whitesmoke;
  padding: 2.5rem;
  border-radius: 20px;
  flex-wrap: wrap;
  
}
.feedback-form input{
  width: 100%;
  height: 3rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #fff;
}

.feedback-form textarea{
  width: 40rem;
  height: 10rem;
  padding: 1rem;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.main-content button {
  width: 20%;
  background: transparent;
  border-radius: 20px;
}

.head {
  font-size: 2rem;
  margin-bottom: 2rem;
  width: 45rem;
  font-weight: 600;
}

/* effects */
